.featured-section{
    background-color: #fff;
    padding: 64px 48px;
}

.featured-container{
    max-width: 1260px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-title{
    color: #183b56;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: "Inter 600", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 2rem;
}

.featured-container img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.feature-section-button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding:15px 18px;
    background-color: #1565d8;
    border-radius: 10px;

    margin-top: 30px;
   
}
.feature-section-button button{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    cursor: pointer;
    color:#fff;
    font-size: 18px;
}
@media screen and (max-width:768px){
    .desktop-image{
        display: none;
    }
}

@media screen and (min-width:768px){
    .mobile-image{
        display: none;
    }
}
