.award-section{
    background-size: cover;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/ccbp-website/Home/award-section/awards-section-bg-pattern.png');
    background-color: #212635;
    display: block;
    background-position: 50% 50%;
}

.award-container{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 18px;
    display: flex;
}

.group-photo{
    width: 100%;
    max-width: 611px;
}

@media screen and (max-width:1024px) {
    .group-photo{
        max-width: 510px;
        padding-left: 10px;
    }
}

.award-details{
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px){
    .award-container{
        flex-direction: column;
        justify-content: center;
    }
    .award-details{
        margin-bottom: 38px;
    }
}

.award-info{
   margin-left: 24px
}

.award-info p{
    color: #e2e8f0;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}

.award-info h4{
    color: #f8fafc;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    width: 300px;
}

.award-logo{
   width: 100%;
   max-width: 319px;
   margin-top: 24px;
   margin-left: 0;
}

.award-icon{
    width: 100%;
    max-width: 60px;
    align-self: flex-start;
}
