.award-section{
   
   
    background-color: #212635;
  
    
}

.award-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding: 48px 18px;
}

.heading{
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family:sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 64px;
}

.award-block-container{
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items:center;

    
}
.award-card-container{
    display: flex;
    align-items: center;
}

.award-card-container-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.award-card-container-one img{
width: 100%;
max-width: 130px;


}
.award-block-card{
    display: flex;
    align-items: center;
}
.award-block-card img{

    max-width: 100%;
    height: 110px;
}
.award-card-info{
    margin-left: 10px;
}
.award-card-info h4{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#ffb800, #fd6601);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Inter 600", sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.award-card-info h2{
    color: #fff;
   width: 100px;
    font-family:sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 24px;
}
.award-card-info p{
    color: #fff;
    font-family: "Inter 600", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 14.7px;
}
.award-gallery-container{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.single-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.forbes{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}
.award-img-info{
    color: #fff;
    text-align: center;
    font-family: "Inter 400", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    width: 100%;
}
.award-gallery-container{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}
.double-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.award-card-container-button{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px 0px;
    width: 250px;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.award-card-container-button button{
    padding-left: 10px;
    border: none;
    outline: none;
   background-color: transparent;
   color: #183b56;
   
    font-family: "Inter 500", sans-serif;
    font-size: 16px;
    font-weight: 500
}


@media screen and (min-width:768px){
    .double-card-container{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
    }
    .double-card{
       display: flex;
       justify-content: center;
       text-align: center;
       flex-direction: column;
    }
    .forbes{
        
        max-width: 531px;
    }
   .double-card img{
    width: 400px;
   }
   .award-block-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
   }
 
}

@media screen and (min-width:1024px){
    .award-container{
        padding: 64px 64px;
    }
    .double-card img{
        width: 500px;
       }
       .award-card-container{
        justify-content: center;
        width: 100%;
       }
.award-card-container-one{
    width: 100%;
   justify-content: center;
  
   
}
.award-card-container-one img{
    margin-left: 10px;
}
.award-block-card{
    margin-left: 10px;
}
}