
body{
    padding: 0;
margin: 0;
background-color: #f8fafc;
}
.home-container{
min-height: 100vh;
width: 100%;
display: flex;
flex-direction: column;


}

.anounce-container{
    width: 100%;
    height: 48px;
    text-align: center;
    background-color: #4f46e5;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
}
.anounce-container p{
    font-size: 12px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    line-height: 14px;
}
.anounce-container p span{
    background-color: #f97316;
    color: #fff;
    padding: 3px 8px;
    border-radius: 10px;
    margin-right: 8px;
}




.hero-section{
    display: flex;
align-items: center;
justify-content: center;
   margin-left: 2rem;
   max-width: 1200px;
   padding-bottom: 34px;
   background-color: #f8fafc;

}
.hero-info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 500px;
    text-align: left;

}
.hero-info-card h1{
    color: #183b56;
   line-height: 54px;
    margin-top: -20px;
    margin-bottom: 0;
    font-family:  sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    width: 350px;
   
}
.info-image-card{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info-image-card p{
    color: #475569;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Inter 600", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
 
.info-image-card img{
    width: 252px;
}
.hero-img-cards{
    margin-top: 1rem;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
 
}
.hero-img-cards img{

    width: 100%;
    max-width: 189px;
}
.hero-profile-cards{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.card{
    
    z-index: 2;
    width: 340px;
    height: 539px;
    background-color: #fff;
    border: 1px solid #cbd5e1;
    border-radius: 16px;
    margin-right: 24px;
    position: relative;
    box-shadow: 0 1px 2px rgba(96,97,112,.16);
}

.type-img-card{
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 24px;
    display: flex;

}
.avatar{
    width: 100%;
    max-width: 150px;
  
    width: 149px;
    height: 237.203px;
    position: relative;
    top: -28px;
}

.type-img{
   align-self: center;
    width: 100%;
    max-width: 150px;
    margin-bottom: 4rem;
}

.card-info{
    z-index: 1;
    height: 419px;
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #fff 14%, #fff);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-top: -135px;
    display: flex;
    flex-direction: column;
    padding: 64px 24px 0px;
    position: relative;
}

.card-info span{
    color: #3730a3;
    letter-spacing: .05em;
    text-transform: uppercase;
    background-color: #e0e7ff;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
   align-self: start;
}

.card h1{
    color: #183b56;
    letter-spacing: -.01em;
    margin-bottom: 26px;
    font-family: "Inter 600", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

.start-seat-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.fire-seat-card{
    display: flex;
    align-items: flex-start;
    height: 48px;
}


.fire-seat-card p{
  
    color: #183b56;
    margin-left: 4px;
    font-family: "Inter 500", sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 12px;
}

.batch-start{
    color: #64748b;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-family: "Inter 600", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.batch-date{
    color: #183b56;
    font-family: "Inter 600", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.callback{
    width: 100%;
    padding:12px 32px;
    border: none;
    outline: none;
    background-color: #1565d8;
    color: #fff;
    border-radius: 10px;
    font-family: "Inter 500", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    margin-top: 1rem;
}

.knowmore{
    color: #1565d8;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 600;
    line-height: 19.36px;
    margin-bottom: 0;
}

.home-allumuni-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.home-allumuni-container img{
    max-width: 100%;
    padding: 0 4rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    
}
.home-allumuni-container h4{
    color: #183b56;
    text-align: center;
    letter-spacing: .5px;
    margin-bottom: 32px;
    font-family: "Inter 600", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding-top: 2rem;

}
.home-allumuni-container p{
    color: #5a7184;
    text-align: center;
    margin-top: 24px;
    padding-right: 0;
    font-family: "Inter 500", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}
.home-recognize-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: transparent;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.home-recognize-container img{
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 1rem;
    
}
.home-recognize-container p{
    padding: 1rem 0;
    color: #183b56;
    font-size: 14px;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 32px;
    font-family: "Inter 600", sans-serif;
    font-weight: 600;
    line-height: 17px;

}

.hiring-companies-section{
    background-color: #fff;
    padding: 56px 0px;
}

.hiring-block{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    align-items: center;
    justify-content:center;
}
.hiring-block h2{
  
    color: #1e293b;
    font-family:  sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
}
.hiring-block p{
    color: #5a7184;
    text-align: center;
    margin-top: 24px;
    font-family: "Inter 400", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.hiring-block h2 span{
    color: #1565d8;
}
.hire{
    width: 100%;
    margin-top: 2rem;
}

.hire-btn-container{
    margin: 2rem 0;
}

.hire-section-btn{
    height: 48px;
    background-color: #1565d8;
    border-radius: 12px;
    margin-bottom: 24px;
    padding: 8px 38px;
    outline: none;
    border: none;
   
 
    
}

.request{
    background-color: #1565d8;
    color: #fff;
    margin-right: 24px;

}
.view{
    border:solid 2px #1565d8;
    background-color: transparent;
    color: #1565d8;
}

.award-section{
    background-size: cover;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/ccbp-website/Home/award-section/awards-section-bg-pattern.png');
    background-color: #212635;
    display: block;
    background-position: 50% 50%;
}

.award-block{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 48px;
    display: flex;
}
.group-img{
    width: 100%;
    max-width: 611px;
}
.award-info{
    display: flex;
   justify-content: center;
   
}
.award-info-card{
   margin-left: 1rem;
    text-align: left;
}
.award-info-card p{
    color: #e2e8f0;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}
.award-info-card h4{
    color: #f8fafc;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    
}


.best-img{
   width: 100%;
max-width: 319px;
margin-top: 24px;
margin-left: 0;
 
 }
 .award-img{
    width: 100%;
    max-width: 60px;
    align-self: flex-start;
 }

 .trainer-section{
    background-color: #f9fbfe;
    padding: 96px 24px;
}
 
.trainer-section-block{
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.trainer-section-block h2{
    color: #183b56;
    letter-spacing: -.5px;
    margin-top: 0;
    margin-bottom: 48px;
    font-family: sofia-pro, sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 64px;
}
.trainer-section-block-card{
    background-color: #f9fbfe;
    border: 1px solid #cbd5e1;
    border-radius: 16px;
    justify-content: center;
    margin-bottom: 0;
   
    display: block;
}

.card-section{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.card-section-card{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.trainer-img-cards{
    display: flex;
    align-items: center;
    gap: 16px;
}
.trainer-img-card{
    width: 160px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(96,97,112,.16);
}
.trainer-img-card img{
    width: 100%;
}
.trainer-img-card-info h1{
    color: #183b56;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
}
.trainer-img-card-info p{
    color: #535353;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
    line-height: 15.62px;
    margin-bottom: 6px;
}
.student{
    width: 200px;
}

.trainer-card{
    margin-bottom: 16px;
    text-align: center;
}
.trainer-card h4{
    color: #183b56;
    text-align: left;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.trainer-card h4 span{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.more{
    color: #5a7184;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 32px;
}
.student-card{
    display: block;
    width: 225px;
    border: 1px solid #cbd5e1;
    border-radius: 16px;
    align-self: center;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(96,97,112,.16);
}

.student-card img{
    height: 285px;
    width: 100%;
}
.student-info-card{
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    margin-top: -39px;
    padding: 16px 0;
   
    display: flex;
    position: relative;
}
.student-info-card h1{
    color: #183b56;
    font-size: 18px;
}
.student-card-logo{
    width: 100%;
    max-width: 60px;
}

.trainer-section-callback-btn{
    height: 48px;
    background-color: #1565d8;
    border-radius: 12px;
  border: none;
  outline: none;
  color: #fff;
  margin: 34px 0;
   
    padding: 12px 32px;
    text-decoration: none;
    
}